@CHARSET "UTF-8";
#container{
    margin: 0 auto;
    max-width: 1200px;
	background: /*#003cb3*/ #dedede;
}
.clearfix {
	display: block;
	clear: both;
}
#welcome {
	font-size:25px;
}
#head {
	font-size:38px;
}
#content {
    float: left;
    padding: 3%;
    width: 64%;
	background-color: #fff;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer{
    width: 94%;
    padding: 3%;
    background-color: /*#662700*/ #FF4500;
    /*border-top: 5px solid #662F99;*/
    color: #fff;
    text-align: center;
}
aside {
    float: right;
    padding: 3%;
    width: 24%;
}
header {
    width: 94%;
    padding: 3%;
    background-color: /* #D05000 */ #eee;
	font-family: 'Raleway', sans-serif;
	/*box-shadow: 0px 10px 0px #b34400;*/
}
header #title {
    font-size: 50px;
    color: #000;
    font-family: 'Advent Pro', sans-serif;
}
ul.topnav li.icon {
	display: none;
}
nav {
    width: 97%;
    background-color: /*#649AAE*/ /*#D05000*/ #FF4500;
    padding: 0 1.5% 0 1.5%;
}
nav ul li {
    display: inline-block;
    padding: 15px 1.5% 15px 1.5% ;
	color: #fff;
    font-size: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    /*font-size: 12px;*/
}
nav ul li a:hover {
    color: #000;
    text-decoration: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

html { 
  background: url(/student/globalit/2016/04_04/tinker/techClub/assets/images/nokia_security_center_server_room.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #eee;*/
}